@tailwind base;
@tailwind components;
@tailwind utilities;

/* Goggle Font  */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@layer base {
    html {
        @apply  !font-Karla;
    }
}


@layer components {
    .nav__link--item {
        @apply  relative pb-0.5 px-1 after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:h-0.5 
        after:lg:w-0 after:lg:bg-primary--color hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
    }

    .nav__link--item.active {
        @apply text-[#1d1f2e];
    }

    .btn {
        @apply  inline-block text-base uppercase cursor-pointer rounded-sm px-7 py-3.5 md:px-10 md:py-4;
    }
    
    .btn--primary {
        @apply  text-[#1d1f2e] w-max bg-white font-bold tracking-widest hover:bg-opacity-80 transition-all ease-in-out duration-300;
    }

    .btn--shopping {
        @apply  inline-block bg-[#1d1f2e] text-white text-xs uppercase font-semibold py-[14px] px-6 rounded-sm tracking-widest 
                hover:bg-opacity-80 transition-all ease-linear duration-300
                md:py-[16px] md:px-7
                lg:py-[18px] lg:px-8;
    }

    .heading-sub {
        @apply  flex justify-center items-center my-24;
    }

    .heading-sub__line {
        @apply   w-6 h-px bg-gray-400 md:w-7 lg:w-8;
    }

    .heading-sub__label {
        @apply  text-[#919199] inline-block mx-2 text-xs uppercase tracking-widest font-medium text-center leading-6 
            md:mx-3;
    }
}

/* Custom style CSS  */
.menu__navbar--active {
    @apply flex flex-col absolute top-[102%] left-0 right-0 w-full bg-slate-300 z-20 py-5 text-center space-y-4 animate-slideDown;
}
